* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 238, 238);
    font-family: "consolas", sans-serif;
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 75px;
    font-weight:1000;
}
h2{
    color:rgb(0, 0, 0);
    text-align: center;
}
h3{
    color:rgb(0, 0, 0);
    text-align: center;
}
h4{
    color:rgb(0, 0, 0);
    text-align: center;
}
h5{
    color:rgb(0, 0, 0);
    text-align: center;
}
h6{
    color:rgb(0, 0, 0);
    text-align: center;
}
p{
    color:rgb(0, 0, 0);
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
}
#navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0px;
    background-color: rgb(0, 0, 0);
}
li, a, button{
    font-family: "consolas", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ecf0f1;
    text-decoration: none;
}
.logo{
    cursor: pointer;
    margin-right: 200px;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 25px;
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 75px;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
#showcase{
    border-radius: 30px;
    border-style:double;
    border-width: 15px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 48vw;
    height: 68vh;
    color:black;
    margin: 12px;
    display: inline-block;
}
#showcaseCa{
    margin: 0px;
    font-size: 25px;
    height: 2vw;
    border-radius: 25px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#showcaseCb{
    margin: 0px;
    border-radius: 25px;
    max-height: 50vh;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 13px;
}
#showcaseCc{
    margin: 0px;
    font-size: 20px;
    height: 4vw;
    border-radius: 25px;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#img{
    height: 60vh;
    width: 48vw;
    border-radius: 15px;
    border-color: black;
    border-width: 15px;
    border-style: double;
    margin-left: 15px;
}
#langImgs{
    width: 10vw;
    height: 20vh;
    display: block;
}
